<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spring eCommerce</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="">Spring eCommerce</a>

      <form class="form-inline my-2 my-lg-0" method="post"
      action="#">
      <input class="form-control mr-sm-2" type="search"
      placeholder="Buscar" aria-label="Search" name="nombre"
      autocomplete="off">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>

  </div>
</nav>


<div class="container">



  <h1 class="mt-4 mb-3">
    Spring eCommerce <small>Productos</small>
  </h1>

  <a class="btn btn-primary" href="crearproducto" > Crear Producto</a>
  <h2>Productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Inventario</th>
        <th scope="col">Precio</th>
        <th scope="col">Acción</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td><a  class="btn btn-warning" href="">Editar</a> </td>
        <td><a  class="btn btn-danger" href="">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>



<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Spring eCommerce</p>
  </div>
  
</footer>


</body>

</html>
